node_modules/
.next/
design-reference/
design-reference-v1/
design-reference-v2/
design-reference-v3/
design-reference-v4/
design-reference-v5/
design-reference-v6/
design-reference-v7/
next-env.d.ts
